.nav-content {
    background: #424242; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #424242 0%, #272b2d 40%, #000705 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #424242 0%,#272b2d 40%,#000705 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #424242 0%,#272b2d 40%,#000705 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000705',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.img-user {
    color: #3b3c3c;
}

.logo_provider {
    border-top: 1px solid #3b3c3c;
}


header.bar-nav{
   background: #050a10;
}

.close-menu{
    background:#050a10;
}